<div class="container card">

            <div class="centerdiv">
                <img src="experience.jpg">
            </div>
        <table align="center" class="table table" ng-controller="erhvervController">
        <thead>
            <tr>
<!--                <th>Fra/til</th>-->
                <th>Virksomhed</th>
<!--                <th>By</th>-->
                <th>Stilling</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="e in erhverv">
<!--                <td>{{ e.year }}</td>-->
                <td>{{ e.place}} </td>
<!--                <td>{{ e.city}}</td>-->
                <td>{{ e.remark}} <br> ({{ e.year }})</td>
            </tr>
        </tbody>
        </table>

</div>

<!--2014--2015 Radubyte  Aalborg      udvikler applikationer til mobiltelefoner 
2012--2013  Den Rytmiske i Nordkraft  Aalborg      Guitarlærer 
2011--2012Aalborg Kulturskole  Aalborg      Guitarlærer 
2009--nu  Partybandet Funky Monkeys  Aalborg      Guitarist 
2008--2009Tønder Musikskole  Toftlund      Guitarlærer 
2007  Rejse  New Zealand      Rejse som backpacker 
2006--2007  Post Danp  Haderslev      Postomdeler 
2006  Føtex  Haderslev      Kasseassistent -->
