<div class="container card" ng-controller="sectionController" ng-init="initWith('musik')">
    <div class="centerdiv">
        <img src="music.jpg">
    </div>
    
    <ul class="nav nav-tabs">
        <li ng-repeat="s in foundSections" ng-class="{active: isSelected(s)}"><a href="#/musik" ng-click="setSelected(s)">{{ s }}</a></li>
    </ul>
    
    <div class="container">
    <table align="center" class="table">
    <thead>
        <tr>
            <th>Kompetence</th>
            <th>Kommentar</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="x in getSelectedSection()">
            <td>{{ x.item}}</td>
            <td>{{ x.comment}}</td>
        </tr>
    </tbody>
    </table>
</div>
</div>
