

<div class="container" ng-controller="sectionController" ng-init="initWith('projekter')">
    <ul class="nav">
        <li ng-class="{active: isSelected(s.section)}" ng-repeat="s in sectionsAndData">
            <div  class="container">
                <a class="btn btn-primary" style="width:250px;margin-bottom:10px" ng-click="select($index, s.section)">{{ s.section }}</a>
                <div>
                    <p hidden id="{{ $index }}" style="position:relative">{{ s.description }}</p>
                </div>
            </div>
        </li>
    </ul>
</div>


