

<div class="container card" id="projectscard" ng-controller="sectionController" ng-init="initWith('projekter')">
    <div class="centerdiv">
        <img src="projects.jpg">
    </div>
    <ul class="nav">
        <li ng-class="{active: isSelected(s.section)}" ng-repeat="s in sectionsAndData">
            <div  class="list-group projectstext" ng-click="select($index, s.section)">
                <a style="width:250px;margin-bottom:10px" >{{ s.section }}</a>
                <div class="projectstext">
                    <p hidden id="{{ $index }}" style="position:relative">{{ s.description }}</p>
                </div>
            </div>
        </li>
    </ul>
</div>


