<div class="container card">
    <script>
// shim layer with setTimeout fallback
window.requestAnimFrame = (function(){
  return  window.requestAnimationFrame       ||
          window.webkitRequestAnimationFrame ||
          window.mozRequestAnimationFrame    ||
          window.oRequestAnimationFrame      ||
          window.msRequestAnimationFrame     ||
          function( callback ){
            window.setTimeout(callback, 1000 / 60);
          };
})();
    </script>
    

	
	
	<canvas id="MyCanvas" width="800" height="600" style="border:1px solid #000000;"></canvas>

	<script src="partials/JavaBalls.js"></script>
</div>
